* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BBC6B3;
    color: black;
    text-align: center;
    font-size: 30px;
  }

  p {
    line-height: 1.8;
  }
  
  header {
    display: flex;
    background-color: #002F1E;
    color: #EAE4D6;
    padding: 5% 10%;
    align-items: center;
    justify-content: space-between;
  }
  
  section {
    padding: 2rem;
  }
  
  footer {
    background-color: #7f492f;
    color: #EAE4D6;
    text-align: center;
    padding: 1rem;
    position: static;
    bottom: 0;
    width: 100%;
  }

  .headshot_pic {
    width: 200px;
    height: auto;
  }